---
import PageHeader from "@/components/core/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("contact", "index");
const { contact_form_action } = config.params;
---

<Base
  entry_keys={["contact", "index"]}
>
  <section class=" pb-6 pt-16">
    <div class="container"><PageHeader page_data={entry.data} /></div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row">

        <div class="md:col-12 md:order-1 grid place-content-center">
          <form
            class="lg:max-w-[484px]"
            action={contact_form_action}
            method="POST"
          >
            <div class="form-group mb-5">
              <label class="form-label" for="name">Nombre Completo!</label>
              <input
                class="form-control"
                type="text"
                id="name"
                placeholder="Su Nombre Completo!"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="eamil">Correo Electronico!</label>
              <input
                class="form-control"
                type="text"
                id="email"
                placeholder="Su Correo Electronico!"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="reason">Razon/Propuesta</label>
              <select name="reason" id="reason" class="form-select" required>
                <option value="">Seleccione su razon/propuesta</option>
                <option value="hello">Queria saludar</option>
                <option value="work-with-you">Me gustaria trabajar con ustedes</option>
                <option value="work-for-me">Me gustaria que trabajen para mi</option>
                <option value="investment plane-3">Tengo un plan de inversion</option>
                <option value="investment plane-3">Otro</option>
              </select>
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="message">Su Mensaje!</label>
              <textarea
                class="form-control h-[150px]"
                id="message"
                cols="30"
                rows="10"></textarea>
            </div>
            <input
              class="btn-primary block w-full"
              type="submit"
              value="Send Message"
              onclick="alert('This form is not functional. Please use the email address provided in the footer to contact us.')"
            />
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
